
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    font-family: afacad;
}

a {
    text-decoration: none;
}

@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.pares {
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-family: Afacad;
    display: flex;
    overflow: hidden;
    cursor: default;
}

.pares-slide, .pares-slide2 {
    display: flex;
    animation: 40s slide infinite linear;
}

.pares-slide div, .pares-slide2 div {
    display: flex;
    flex-direction: row-reverse;
}

.pares-slide div p, .pares-slide2 div p {
    width: 140px;
    margin-left: 4px;
}

nav {
    display: fixed;
    position: fixed;
    top: 20px;
    right: 0;
    left: 0;
    background-color: rgb(255, 255, 255, 0.8);
    padding-bottom: 10px;
    height: 60px;
}

nav a {
    position: fixed;
    top: 20px;
}


nav img {
    max-width: 200px;
    margin: 10px auto 0 10px ;
    display: block;
}

nav button {
    background-color: #26914a;
    color: white;
    font-size: 25px;
    border: none;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    position: fixed;
    right: 0;
    top: 37px;
}

nav button:hover {
    background-color: green;
}

@media (max-width:400px) {
    nav img {
        width: 150px;
    }
    nav {
        height: 40px;
    }
    nav button {
        padding-left: 10px;
        font-size: 20px;
    }
}

.youtube {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-color:rgb(8, 163, 60, 0.9);
    padding-bottom: 20px;
}

.youtube iframe {
    margin: auto;
    display: block;
    width: 560px;
    height: 315px;
}

.youtube p {
    margin: auto 20px;
    display: block;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

.header {
    max-width: 1200px;
    margin: 10% auto 0 auto;
    display: flex;
}

.header-txt {
    max-width: 50%;
    padding: 20px;
}
.header-txt h1 {
    font-size: 70px;
}
.header-txt p {
    margin-top: 20px;
    font-size: 30px;
}
.header-txt div button {
    margin-top: 20px;
    width: 200px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    
}
.mt4 {
    background-color: #26914a;
    border: #26914a 1px solid;
    color: white;
    margin-right: 20px;
}
.demo {
    background-color: white;
    border: 1px solid #1e8f1e;

    
}
.header-img {
    max-width: 40%;
    cursor: pointer;
}
.header-img iframe {
    display: none;
}
.header-img img {
    max-width: 100%;
    border-bottom: 1px solid black;
}


@media (max-width:1150px) {
    .algo-bg {
        height: 300px;
    }
    .algo h1 {
        font-size: 30px;
    }
    .algo p, .algo span {
        font-size: 20px;
    }
}

@media (max-width:870px) {
    .algo-img {
        margin: auto;
        display: block;
    }

    .algo-bg {
        height: auto;
    }

}
@media (max-width:600px) {
    .algo-bg {
        flex-direction: column;
    }
    .algo-bg img {
        order: 2;
        width: 70%;
    }
    .algo {
        order: 1;
        width: 70%;
    }

}

@media (max-width:450px) {
    .algo, .algo-bg img {
        width: 90%;
    }
    
}

@media (max-width:940px) {
    .header {
        display: block;
    }
    .header-txt {
        max-width: 90%;
        margin: auto;
    }
    .header-img {
        margin: 50px auto;
        max-width: 800px;
    }
    .header-img img {
        border-bottom: 1px solid;
        display: none;
    }
    .header-img iframe {
        display: block;
        width: 750px;
        height: 422px;
        margin: auto;
    }
}
@media (max-width:770px) {
    .header-img iframe {
        width: 700px;
        height: 394px;
    }
}
@media (max-width:710px) {
    .header-img iframe {
        width: 630px;
        height: 354px;
    }
}
@media (max-width:640px) {
    .header-img iframe {
        width: 500px;
        height: 280px;
    }
}
@media (max-width: 570px) {
    .youtube iframe {
        width: 500px;
        height: 280px;
    }
    .header-txt h1 {
        font-size: 50px;
    }

    .header-txt div button {
        width: 200px;
        margin: 10px 5px auto auto;
        font-size: 18px;
    }
}
@media (max-width:510px) {
    .youtube iframe, .header-img iframe {
        width: 450px;
        height: 252px;
    } 
}
@media (max-width:460px) {
    .youtube iframe, .header-img iframe {
        width: 400px;
        height: 224px;
    } 
}
@media (max-width:410px) {
    .youtube iframe, .header-img iframe {
        width: 350px;
        height: 196px;
    } 
}
@media (max-width:360px) {
    .youtube iframe, .header-img iframe {
        width: 300px;
        height: 168px;
    } 
}
@media (max-width:310px) {
    .youtube iframe, .header-img iframe {
        width: 250px;
        height: 140px;
    } 
}

.bg-licença {
    text-align: center;
}


.licença {
    max-width: 780px;
    margin: auto;
    padding: 0 10px;
    display: flex;
}



.planos {
    margin: auto;
    border-radius: 20px;
    border: 1px solid #1e8f1e;

}
.planos h3, .planos h2 {
    text-align: center;
}
.preço {
    height: 60px;
    margin: auto;
}
.preço h1 {
    text-align: center;
}

.preço h3 {
    text-decoration: line-through;
    color: rgb(97, 97, 97);
}

.preço h2 {
    color: #1e8f1e;
}


.planos button {
    max-width: 200px;
    font-size: 20px;
    margin: 10px auto;
    display: block;    
}


.planos div {
    margin: auto 10px;
    padding: 10px;

}
.planos div div {
    display: flex;
    margin: 10px auto;
}

.planos p {
    font-size: 20px;
    font-weight: bold;
    margin: auto auto auto 10px;
}

.planos img {
    width: 20px;
    height: 20px;
}

.planos button {
    background-color: #1e8f1e;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
@media (max-width:770px) {
    .licença {
        display: block;
    }
    .preço {
        height: auto;
    }
    .planos {
        margin-bottom: 10px;
    }
}


footer {
    text-align: center;
    display: block;
}
footer a {
    display: block;
    color: black;
}
footer p {
    font-weight: 500;
}

footer span {
    margin-top: 20px;
}

footer h4 {
    margin-top: 20px;
}

.aviso-bg {
    padding: 10px;
}

.aviso {
    border: 1px solid #1e8f1e;
    border-radius: 20px;
    padding: 20px;
    margin: auto;
    max-width: 720px;
}

.aviso h1 {
    text-align: center;
}

.aviso h2 {
    margin-top: 10px;
}

.redes {
    max-width: 260px;
    display: flex;
    margin: 10px auto;
}

.redes a {
    display: block;
    margin: auto;
}

.redes img {
    display: block;
    max-width: 50px;
    margin: auto;
}


/*******-parceiro-*******/

.licença-parceiro {
    max-width: 800px;
    margin: 100px auto auto auto;
    padding: 0 20px;
}

.licença-parceiro-h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.passos div {
    margin-bottom: 20px;
}


.passo1 button {
    height: 30px;
    border-radius: 20px;
    border: 1px solid #26914a;
    font-size: 20px;
    margin: auto;
    background-color: white;
    padding: 0 20px;
    margin-top: 10px;
}

.passo1 button:hover {
    background-color: #26914a;
    color: white;
    cursor: pointer;
    
}

.passo1 p, .passo2 p, .passo3 p {
    font-size: 20px;
}

.formulário-parceiro {
    max-width: 400px;
    margin: auto;
}

.formulário-parceiro form {
    display: block;
    margin: auto;
}

.formulário-parceiro form input, .formulário-parceiro button {
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-size: 20px;
    margin: auto auto 20px auto;
}

.formulário-parceiro input[type="checkbox"] {
    width: 20px;
    margin: auto 10px auto auto;
}

.checkbox {
    display: flex;
    margin-bottom: 10px;
}

.checkbox a {
    color: #1e8f1e;
}

.h-captcha {
    margin: auto;
    width: 280px;
}

.obrigado {
    margin-top: 120px;
    text-align: center;
}

/*-------Termos de uso-------*/

.termos {
    margin: 140px auto auto auto;
    max-width: 800px;
    padding: 20px;

}
.termos p {
    margin-top: 10px;
    font-size: 20px;
}

.termos h1 {
    text-align: center;
    
}

.sob-demanda {
    margin: 140px auto auto auto;
}

.sob-demanda h1 {
    text-align: center;
}


/*Sob Demanda*/

.sob-demanda {
    max-width: 800px;
}

.sob-demanda p {
    font-size: 20px;
    margin: 20px auto;
    padding: 10px;
}


/*-------novo------*/
